
.voucher-list {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 50px;
}

.voucher-list h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.voucher-list table {
    width: 100%;
    border-collapse: collapse;
}

.voucher-list th, .voucher-list td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.voucher-list th {
    background-color: #f2f2f2;
}

.voucher-list td a {
    color: #262626;
    text-decoration: none;
}

.voucher-list td a:hover {
    font-weight: bold;
}

.add-voucher-form {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 50px;
}

.add-voucher-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.add-voucher-form form {
    display: flex;
    flex-direction: column;
}

.add-voucher-form label {
    margin-bottom: 10px;
    font-size: 18px;
}

.add-voucher-form input[type="text"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-voucher-form input[type="submit"] {
    padding: 10px;
    background-color: #262626;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-voucher-form input[type="submit"]:hover {
    background-color: #333;
}