
.report-list {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 50px;
}

.report-list h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.report-list table {
    width: 100%;
    border-collapse: collapse;
}

.report-list th, .report-list td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.report-list th {
    background-color: #f2f2f2;
}

.report-list td a {
    color: #262626;
    text-decoration: none;
}

.report-list td a:hover {
    font-weight: bold;
}

.add-report-form {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 50px;
}

.add-report-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.add-report-form form {
    display: flex;
    flex-direction: column;
}

.add-report-form label {
    margin-bottom: 10px;
    font-size: 18px;
}

.add-report-form input[type="text"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-report-form input[type="submit"] {
    padding: 10px;
    background-color: #262626;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-report-form input[type="submit"]:hover {
    background-color: #333;
}