<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style-navbar.css">
    <title>Navbar</title>
</head>
<body>
<nav th:fragment="navbar">
    <a href="/" class="logo">Pollima</a>
    <ul>
        <li><a href="/company" class="">Company</a></li>
        <li><a href="/cargo">Cargo</a></li>
        <li><a href="/trip">Trip</a></li>
        <li><a href="/voucher">Voucher</a></li>
        <li><a href="/report">Report</a></li>
    </ul>
</nav>


</body>
</html>