<nav aria-label="Page navigation example" th:if="${companyPage?.totalPages > 1}">
    <ul class="pagination justify-content-end">
        <li class="page-item" th:classappend="${companyPage.first} ? 'disabled'">
            <a class="page-link"
               th:href="@{/company(page=${companyPage.number - 1},size=${companyPage.size})}"
               tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        <li class="page-item" th:classappend="${page == companyPage.number} ? 'active'"
            th:each="page : ${#numbers.sequence(0, companyPage.totalPages - 1)}">
            <a class="page-link" th:href="@{/company(page=${page},size=${companyPage.size})}"
               th:text="${page + 1}"></a>
        </li>
        <li class="page-item" th:classappend="${companyPage.last} ? 'disabled'">
            <a class="page-link"
               th:href="@{/company(page=${companyPage.number + 1},size=${companyPage.size})}">Next</a>
        </li>
    </ul>
</nav>
