<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="layout :: layout(~{::title}, ~{::section})"
>
<head>
    <title> Voucher - Pollima</title>
</head>
<body>
<section>
<main>
    <div class="container">
        <h1>Voucher Page</h1>

        <div class = "form-container" >
            <h2>Add New voucher</h2>
            <form action="#" th:action="@{/voucher}" method="post" th:object="${addNewVoucher}">
                <input type="hidden" id="voucher-id" name="id" th:field="*{id}">


                <label for="trip-details">Trip Details:</label>
                <span class="text-danger" th:if="${#fields.hasErrors('tripId')}" th:errors="${addNewVoucher.cargoId}">Error</span>
                <div class="select-container">
                    <select id="trip-details" name="trip" th:field="*{tripId}">
                        <option th:each="trip : ${latestTrips}" th:value="${trip.id}"
                                th:text="|${trip.company.companyName}-${trip.cargo.cargoName}-${trip.fromLocation}-${trip.toLocation}-${trip.startDate}|">

                        </option>
                    </select>
                </div>



                <label for="Voucher-No">Voucher No</label>
                <span class="text-danger" th:if="${#fields.hasErrors('voucherNo')}" th:errors="${addNewVoucher.voucherNo}">Error</span>
                <input type="text" id="Voucher-No" name="voucher" th:field="*{voucherNo}">


<!--                <input type="hidden" id="cargo-name" name="cargo" th:field="*{cargoId}"/>-->

                <label for="date">Date</label>
                <span class="text-danger" th:if="${#fields.hasErrors('date')}" th:errors="${addNewVoucher.date}">Error</span>
                <input type="date" id="date" name="date" th:field="*{date}">

                <label for="dr">DR</label>
                <span class="text-danger" th:if="${#fields.hasErrors('dr')}" th:errors="${addNewVoucher.dr}">Error</span>
                <input type="number" id="dr" name="dr" th:field="*{dr}">

                <label for="cr">CR</label>
                <span class="text-danger" th:if="${#fields.hasErrors('cr')}" th:errors="${addNewVoucher.cr}">Error</span>
                <input type="number" id="cr" name="cr" th:field="*{cr}">

                <label for="particular">Particular</label>
                <input type="text" id="particular" name="particular" th:field="*{particular}">

                <input type="submit" value="Add voucher">
            </form>
        </div>



        <div class="table-responsive-md">
            <h2>Voucher List</h2>
            <table class="table table-striped table-dark">
                <thead>
                <tr>
                    <td>Trip Details</td>
                    <td>Voucher No</td>
                    <td>Cargo</td>
                    <td>Date</td>
                    <td>DR</td>
                    <td>CR</td>
                    <td>Particular</td>
                    <td colspan="2">Credentials</td>

                </tr>
                </thead>
                <tbody>
                <tr th:each="voucher : ${allVouchers}">
                    <td th:text="|${voucher.trip.company.companyName} ${voucher.cargo.cargoName} ${voucher.trip.fromLocation}-
                    ${voucher.trip.toLocation}-${voucher.date}|"></td>
                    <td th:text="${voucher.voucherNo}"></td>
                    <td th:text="${voucher.cargo.cargoName}"></td>
                    <td th:text="${voucher.date}"></td>
                    <td th:text="'&#2547;'+${voucher.dr}"></td>
                    <td th:text="'&#2547;'+${voucher.cr}"></td>
                    <td th:text="${voucher.particular}"></td>
                    <td>
                        <button type="button"  class="btn btn-primary editBtn">
                            <a th:href="@{'/voucher/edit/'+ ${voucher.id}}">Edit</a>
                        </button>
                    </td>
                    <td>
                        <form th:action="@{/voucher/delete}" method="post">
                            <input type="hidden" name="id" th:value="${voucher.id}">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

        <nav aria-label="Page navigation example" th:if="${voucherPage?.totalPages > 1}">
            <ul class="pagination justify-content-end">
                <li class="page-item" th:classappend="${voucherPage.first} ? 'disabled'">
                    <a class="page-link" th:href="@{/voucher(page=${voucherPage.number - 1},size=${voucherPage.size})}" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item" th:classappend="${page == voucherPage.number} ? 'active'" th:each="page : ${#numbers.sequence(0, voucherPage.totalPages - 1)}">
                    <a class="page-link" th:href="@{/voucher(page=${page},size=${voucherPage.size})}" th:text="${page + 1}"></a>
                </li>
                <li class="page-item" th:classappend="${voucherPage.last} ? 'disabled'">
                    <a class="page-link" th:href="@{/voucher(page=${voucherPage.number + 1},size=${voucherPage.size})}">Next</a>
                </li>
            </ul>
        </nav>



    </div>
</main>
</section>
</body>
</html>
